<section class="hero">
        <video src="./assets/banner.mp4" muted loop autoplay></video>
        <div class="overlay"></div>
        <div class="hero-text">
            <h1>find your next puppy play date</h1>
            <div class="hero-btn">
                <button class="sign-up-btn">Sign Up</button>
            </div>
        </div>
    </section>