{{!-- was named user.handlebars --}}
{{!-- connecting route put into controllers/home-routes.js --}}
 <div class="row">
        <div class="form">
            <form class="login-form">
                <h2>Log In</h2>
                <div class="form-input">
                    <label for="email-login">Email Address</label>
                    <div class="sec-2">
                        <input type="email" name="email" id="email-login" placeholder="email"/>
                    </div>
                </div>
                <div class="form-input">
                    <label for="password-login">Password</label>
                    <div class="sec-2">
                      <input class="pas" type="password" id="password-login" name="password" placeholder="············"/>
                    </div>
                  </div>
                  <button class="submit">Login </button>
                  <p ><a href="/register" class="register">Register</a></p>
              </form>
              
        </div>
        
    </div>
<script src="/javascript/login.js"></script>