{{!-- was named user.handlebars --}}
{{!-- connecting route put into controllers/home-routes.js --}}
 <div class="row">
        <div class="form">
            <form class="login-form">
                <h2>Log In</h2>
                <div class="email">
                    <label for="email">Email Address</label>
                    <div class="sec-2">
                        <input type="email" name="email" placeholder="Username@gmail.com"/>
                    </div>
                </div>
                <div class="password">
                    <label for="password">Password</label>
                    <div class="sec-2">
                      <input class="pas" type="password" name="password" placeholder="············"/>
                    </div>
                  </div>
                  <button class="sign-up-btn">Login </button>
                  <p ><a href="/register" class="register">Register</a></p>
              </form>
              
        </div>
        
    </div>

{{!-- <form class="signup-form">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form> --}}

{{!-- script tag for login.js --}}
<script src="/javascript/login.js"></script>