{{!form to create a profile}}
<div class="row">
        <div class="form">
            <form class="login-form">
                <h2>Create a Profile</h2>
                <div class="form-input">
                    <label for="petName">Pet name</label>
                    <div class="sec-2">
                        <input type="petName" name="petName" id="petNameInput" placeholder="Your pet's name"/>
                    </div>
                </div>
                <div class="form-input">
                    <label for="age">Age</label>
                    <div class="sec-2">
                      <input class="age" type="age" name="age" id="ageInput" placeholder="Age"/>
                    </div>
                  </div>
                  <div class="form-input">
                    <label for="gender">Gender</label>
                    <div class="sec-2">
                      <input class="gender" type="gender" name="gender" id="genderInput" placeholder="Gender"/>
                    </div>
                  </div>
                  <div class="form-input">
                    <label for="breed">Breed</label>
                    <div class="sec-2">
                      <input class="breed" type="breed" name="breed" id="breedInput" placeholder="Breed"/>
                    </div>
                  </div>
                  <div class="form-input">
                    <label for="description">Bio</label>
                    <div class="sec-2">
                      <input class="description" type="description" name="description" id="descriptionInput" placeholder="What are your dog's likes/dislikes?"/>
                    </div>
                  </div>
                  <button class="submit">Create profile </button>
              </form>
              
        </div>
</div>
<script src="/javascript/create-pet.js"></script>