{{!-- edit profile placeholder; file fine points may need to be changed after Dariga completes her code --}}

<div class="row">
        <div class="form">
            <form class="login-form">
                <h2>Create a Profile</h2>
                <div class="form-input">
                    <label for="petName">Pet name</label>
                    <div class="sec-2">
                        <input type="petName" name="petName" id="petNameInput" placeholder="Your pet's name"/>
                    </div>
                </div>
                <div class="form-input">
                    <label for="age">Age</label>
                    <div class="sec-2">
                      <input class="age" type="age" name="age" id="ageInput" placeholder="Age"/>
                    </div>
                  </div>
                  <div class="form-input">
                    <label for="gender">Gender</label>
                    <div class="sec-2">
                      <input class="gender" type="gender" name="gender" id="genderInput" placeholder="Gender"/>
                    </div>
                  </div>
                  <div class="form-input">
                    <label for="breed">Breed</label>
                    <div class="sec-2">
                      <input class="breed" type="breed" name="breed" id="breedInput" placeholder="Breed"/>
                    </div>
                  </div>
                  <div class="form-input">
                    <label for="description">Bio</label>
                    <div class="sec-2">
                      <input class="description" type="description" name="description" id="descriptionInput" placeholder="What are your dog's likes/dislikes?"/>
                    </div>
                  </div>
                  <button class="submit">Create profile </button>
              </form>
              
        </div>
        
</div>
<script src="/javascript/create-pet.js"></script>



{{!-- <section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-url">Link</label>
      <input id="post-url" name="post-url" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{!-- allows use of template in profile-routes.js --}}
{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/profile/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}} --}}

{{!-- links to file that profile uses to create new post --}}
<script src="/javascript/create-pet.js"></script>