<div class="row">
        <div class="form">
            <form class="signup-form">
                <h2>Create an Account</h2>
                <div class="form-input">
                    <label for="username-signup">Username</label>
                    <div class="sec-2">
                        <input type="text" name="username" id="username-signup" placeholder="Username"/>
                    </div>
                </div>
                <div class="form-input">
                    <label for="email-signup">Email Address</label>
                    <div class="sec-2">
                        <input type="email" name="email" id="email-signup" placeholder="Username@gmail.com"/>
                    </div>
                </div>
                <div class="form-input">
                    <label for="password-signup">Password</label>
                    <div class="sec-2">
                      <input class="pas" type="password" id="password-signup" name="password" placeholder="············"/>
                    </div>
                  </div>
                  <button class="submit">Sign Up</button>
              </form>
              
        </div>
        
    </div>
{{!-- need to bring in script --}}
<script src="/javascript/signup.js"></script>
