<div class="row">
        <div class="form">
            <form class="login-form">
                <h2>Create an Account</h2>
                <div class="firstname">
                    <label for="firstname">First Name</label>
                    <div class="sec-2">
                        <input type="firstname" name="firstname" placeholder="First Name"/>
                    </div>
                </div>
                <div class="lastname">
                    <label for="lastname">Last Name</label>
                    <div class="sec-2">
                        <input type="lastname" name="lastname" placeholder="Last Name"/>
                    </div>
                </div>
                <div class="email">
                    <label for="email">Email Address</label>
                    <div class="sec-2">
                        <input type="email" name="email" placeholder="Username@gmail.com"/>
                    </div>
                </div>
                <div class="password">
                    <label for="password">Password</label>
                    <div class="sec-2">
                      <input class="pas" type="password" name="password" placeholder="············"/>
                    </div>
                  </div>
                  <button class="sign-up-btn">Sign Up</button>
              </form>
              
        </div>
        
    </div>
